<%= render 'components/nav' %>

<section class="hero ">
<div class="hero-body">
<div class="container">

    <div class="columns">
    <div class="column is-8 is-offset-2">
    <section class="hero is-primary welcome is-small">
    <div class="hero-body">
    <div class="container">

        <h1 class="title">
            What's new?

            <%= link_to new_article_path, class: "button is-normal is-light is-pulled-right button-create-article" do %>
                <i class="fas fa-plus"></i>
            <% end %>
        </h1>

    </div>
    </div>
    </section>
    </div>
    </div>

    <% @articles.each_with_index do |article, index| %>

        <section class="section">
        <div class="columns">
        <div class="column is-8 is-offset-2 article-index-item">
        <div class="content is-medium">
        
            <h2 class="subtitle is-4 has-text-grey-light">
                <i class="far fa-calendar-alt mr-3"></i>
                Written <%= time_ago_in_words article.created_at %> ago
            </h2>
            
            <h1 class="title">
                <%= article.title %>
            </h1>

            <p>
                <%= truncate_str(article.body, 230) %>
            </p>

            <%= render 'components/article/button.actions', instance: article %>

        </div>
        </div>
        </div>
        </section>

        <% if index < @articles.length - 1 %>
            <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="is-divider"></div>
            </div>
            </div>
        <% end %>
    
    <% end %>

</div>
</div>
</section>

<%= render 'components/footer' %>