<%= render 'components/nav' %>

<%= link_to :"New Article", new_article_path, class: "button is-medium is-dark" %>

<% @articles.each do |article| %>

    <section class="section is-medium">
        <h1 class="title">
            <%= article.title %>
        </h1>
        
        <h2 class="subtitle">
            <%= article.created_at %>
        </h2>

        <p>
            <%= truncate_str(article.body, 100) %>
        </p>

        <%= render 'components/button.actions', instance: article %>
    </section>

<% end %>