<%= render 'components/nav' %>

<%= link_to :"New Article", new_article_path, class: "button is-medium is-dark" %>

<section class="hero ">
<div class="hero-body">
<div class="container">

    <% @articles.each_with_index do |article, index| %>

        <section class="section">
        <div class="columns">
        <div class="column is-8 is-offset-2">
        <div class="content is-medium">
        
            <h2 class="subtitle is-4">
                <%= article.created_at %>
            </h2>
            
            <h1 class="title">
                <%= article.title %>
            </h1>

            <p>
                <%= truncate_str(article.body, 230) %>
            </p>

        </div>
        </div>
        </div>
        </section>

        <% if index < @articles.length - 1 %>
            <div class="is-divider"></div>
        <% end %>
    
    <% end %>

</div>
</div>
</section>

<%= render 'components/footer' %>