<%= render 'components/nav' %>

<%= render 'components/form.errors', instance: @article %>

<div class="container">
<section class="section px-0">
<div class="columns">

    <div class="column is-6 form-left">
        <%= image_tag "thoughts1.svg", alt: "Thoughts", class: "mb-4" %>
        <h2 class="is-size-4 mt-4 has-text-weight-semibold">What are you thinking right now?</h2>
    </div>

    <div class="column is-6 form-right">
    <%= form_with scope: :article, url: post_article_path, local: true do |form| %>
        <%= render 'components/article/form.fields', form: form, action: 'new' %>
    <% end %>
    </div>

</div>
</section>
</div>

<%= render 'components/footer' %>