<%= render 'components/nav' %>

<section class="section">
    <h1 class="title">
        <%= @article.title %>
    </h1>
    
    <h2 class="subtitle">
        <%= @article.created_at %>
    </h2>

    <%= render 'components/button.actions', instance: @article %>

    <p>
        <%= @article.body %>
    </p>
</section>