<%= render 'components/nav' %>


<section class="hero ">
<div class="hero-body">
<div class="container">

<%= render 'components/banner', title: @article.title %>

<section class="section">

    <%= render 'components/article/button.actions', instance: @article %>
    
    <h2 class="subtitle">
        <%= @article.created_at %>
    </h2>

    <p>
        <%= @article.body %>
    </p>

</section>

</div>
</div>
</section>

<%= render 'components/footer' %>