<%= render 'components/nav' %>


<section class="hero ">
<div class="hero-body">
<div class="container">


<% if @article.image.attached? %>
  <section class="hero is-medium banner-custom" style='background-image: url(<%= url_for @article.image %>)'>
<% else %>
  <section class="hero is-medium banner-custom">
<% end %>

<div class="hero-body">
<div class="container has-text-centered">

    <h1 class="is-size-2 has-text-white has-text-weight-semibold">
        <%= @article.title %>
    </h1>

    <small class="has-text-white">
        by Someone who loves you :)
    <small>

</div>
</div>
</section>

<section class="section">

    <%= render 'components/article/button.actions', instance: @article %>
    
    <h2 class="subtitle has-text-grey-light has-text-weight-semibold">
        <i class="far fa-calendar-alt mr-3"></i> 
        Written <%= time_ago_in_words @article.created_at %> ago
    </h2>

    <h2 class="subtitle has-text-grey-light has-text-weight-semibold">
        <i class="fas fa-edit mr-2"></i>
        Updated <%= date_full_words @article.updated_at %>
    </h2>

    <p class="has-text-black-bis is-size-5 has-text-justified">
        <%= @article.body %>
    </p>

</section>

</div>
</div>
</section>

<%= render 'components/footer' %>