<div class="field">
    <%= form.label :title, class: :label %>
    <div class="control">
        <%= form.text_field :title, autocomplete: :off, class: :input, maxlength: 30 %>
    </div>
</div>

<div class="field">
    <%= form.label :Body, class: :label %>
    <div class="control">
        <%= form.text_area :body, autocomplete: :off, class: "textarea textarea-custom", maxlength: 1000 %>
    </div>
</div>

<div class="field">

    <% if params[:action] == 'new' %>
    <%= form.button class: 'button is-primary', title: 'Post Article' do %>
        <i class="fas fa-paper-plane mr-3"></i> Post
    <% end %>
    <% end %>

    <% if params[:action] == 'edit' %>
    <%= form.button class: 'button is-primary',  title: 'Update Article' do %>
        <i class="fas fa-edit mr-3"></i> Update
    <% end %>
    <% end %>

    <button class="button is-warning" onclick="back()">Cancel</button>

</div>